@import "../../scss/global";

.hero {
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-slider {
  width: 200px;
  height: 600px;
  overflow-y: hidden;
  position: relative;
}

.hero-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  margin-bottom: 4%;

  h1 {
    font-size: min(3.5vw, 3rem);
    line-height: 1.3;

    span:nth-child(2) {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: -10%;
        z-index: -1;
        content: "";
        background: url("./assets/brush-stroke.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right;
        transform: rotate(-5deg);
        opacity: 0.9;
      }

      &::after {
        background: white;
        opacity: 1;
        transform: none;
        height: 160%;
        top: -15%;
        animation: falseReveal 700ms ease-out forwards 500ms;
      }
    }
  }

  > p:nth-of-type(1) {
    line-height: 1.2 !important;
    font-size: min(1.5vw, 16px);
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;

    select {
      padding: 1.2em 1.6em;
      width: 45%;
      border-radius: 8px;
      box-shadow: none;
      outline: none;
      border: 2px solid #d4d4d4;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #808080;
        transition: all 500ms ease-out;
      }

      &:focus::placeholder {
        color: #d8d8d8;
      }
    }
  }

  p.popular {
    font-weight: 700;
    font-size: 1.5rem;
    font-size: min(1.5vw, 16px);
  }

  div.popular-items {
    display: flex;
    justify-content: center;
    gap: 1em;

    > * {
      font-weight: 500;
      font-size: min(1.5vw, 16px);
    }

    > :nth-child(even) {
      color: $clr-primary-100;
    }
  }
}

//DESKTOP STYLING
@media only screen and (min-width: 1105px) {
  .hero {
    padding: 0 4rem;
    gap: 2rem;
    position: relative;
    justify-content: space-around;
  }

  .hero-slider::before,
  .hero-slider::after {
    height: 100px;
    width: 100%;
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #ffffff, #ffffff00);
    z-index: 111;
  }

  .hero-slider::before {
    left: 0;
  }

  .hero-slider::after {
    bottom: -3px;
    transform: rotate(180deg);
    left: 0;
  }

  .hero-slider-wrapper {
    display: flex;
    flex-direction: column;
  }

  .hero-slider#right .hero-slider-wrapper {
    animation-direction: reverse;
  }

  .hero-slider-wrapper {
    animation: panY 19s linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  .hero-slider-wrapper img {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    transition: all 200ms ease-out;

    &:hover {
      filter: drop-shadow(2px 10px 3px rgba(0, 0, 0, 0.445));
      cursor: pointer;
      // transform: scale(1.1);
    }
  }
}

//TABLET STYLING
@media only screen  and (max-width: 1105px) {
  .hero {
    flex-direction: column;
    padding: 10vh 0;
    padding-bottom: 3vh;

    .hero-slider#left {
      display: none;
    }

    .hero-slider#right {
      width: 100vw;
      height: max-content;
      /* Hide scrollbar for IE, Edge and Firefox */

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      .hero-slider-wrapper {
        display: flex;
        animation: panX 19s linear infinite;
        &:hover {
          animation-play-state: paused;
        }

        img {
          height: 100%;
          width: 200px;
          aspect-ratio: 1 / 1;
          object-fit: contain;
          transition: all 200ms ease-out;

          &:hover {
            filter: drop-shadow(2px 10px 3px rgba(0, 0, 0, 0.445));
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }

    .hero-text select {
      width: 60%;
      padding: 0.6rem;
    }
  }
}

//MOBILE STYLING
@media only screen and (max-width: 750px) {


  .hero {
    align-items: center;
    justify-content: center;
  }

  .hero-slide, .hero-slider-wrapper{
    height: 130px;

    
  }

  .hero-text {
    margin-bottom: 2rem;
    width: 80%;
    h1 {
      font-size: max(5.4vw, 1.8rem) !important;
    }

    p {
      font-size: 11px !important;
      display: none;
    }

    form {
      select {
        width: 60%;
        padding: 0.7em;
        font-size: 60%;
      }
    }
  }
}

@keyframes panY {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-200px * 6));
  }
}
@keyframes panX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-200px * 6));
  }
}

@keyframes falseReveal {
  0% {
    transform: translate(0);
  }
  90% {
    transform: translateX(200%);
  }
  100%{
    transform: translate(0);
    opacity: 0;
  }
}
