.checkout .cart-item{
  position: relative;

  .quantity-controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.details-form {
  max-width: 600px;

  .input-field label {
    display: block;
    text-transform: uppercase;
  }
  
  .input-field input:focus {
    outline: none;
    border-color: #FC8019;
  }
  
  .input-field .error {
    color: red;
    margin-top: 5px;
    font-size: 13px;
  }
}

.card-details form {
  display: grid;
  grid-template-columns: repeat(3, 130px);
  gap: 16px;
  max-width: 1100px;

  .input-field {
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      text-transform: uppercase;
    }

    input[type='text'] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 5px;

      &:focus {
        outline: none;
        border-color: #007bff;
      }
    }

    .error {
      color: red;
      margin-top: 5px;
      font-size: 13px;
    }

    // Customize the layout for specific fields
    &.card-number {
      grid-column: span 3; // Span across all 3 columns
    }
  }
}

.checkout {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 1100px;

  .btn{
    background-color: #FC8019;
    color: #f9f9f9;

    &:hover{
      background-color: #fa9c4f ;
    }
  }

  .col-1 {
    flex: 1;
    padding: 20px;

    .cart h2{
      font-size: 1.5rem;
      margin-bottom: 1em;
    }
  }

  .col-2 {
    flex: 1;
    background-color: #f9f9f9;
    padding: 1.6rem;
    border-radius: 8px;

    .location-box-wrapper{
      display:flex;
      flex-direction: column;
      gap: .4rem;

      select{
        padding: 0.6rem;
        border-radius: 7px;
        margin-right: 1em;
      }

      button{
        background-color: #FC8019 !important;
        color: #f9f9f9 !important;

        &:hover{
          background-color: #f08d3cbe !important;
        }
      }
    }
  }

  h3.title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .contact-details,
  .location-box{
    margin-bottom: 8%;
  }

  .payment-details > form{
    margin: 1rem 0;
    gap: 1rem;
    &, & > *{
      display: flex;
    }
  }

  input [type = 'text'] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;

    &:has(> .error){
      border: 1px solid red;
    }
  }
}

@media screen and (max-width:920px) {

  .card-details form{
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;

    & .card-number{
      grid-column: span 2 !important;
    }
  }

  .checkout{
    box-shadow: none;
  }
  .checkout .col-1{
    display: none;
  }
  .col-2{
    padding-left: 8% !important;
  }
}