 button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.3s;
    border: none;
    font-family: Poppins;
    
    &:hover {
      color: orange;
    }
  
    // Responsive styles
    @media (max-width: 768px) {
      font-size: 12px;
      padding: 8px 16px;
    }
  
  }
  
