/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
}


@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Poppins:wght@300;500&display=swap";



$clr-primary-100: #FC8019;
$clr-neutral-300: #F8F8F8;

input{
	&:focus{
		outline: none;
	}
}

h1, h3, h2, h4, h5, h6{
	font-family: Poppins;
}

html{
	// width: 100vw;
	// all: inherit;
	zoom: 100% !important;
}

body{
	font-family: Inter;
	width: 100%;
	overflow: hidden auto;
	position: relative;
}

.clr-orange{
	color: $clr-primary-100;
}

a{
	text-decoration: none;
	color: inherit;
}

input, select, option{
	font-family: Poppins;
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 20%;
	// height: 100vh;
	aspect-ratio: 1;
	border-radius: 50%;
	background: 
	  radial-gradient(farthest-side,#ffa516 94%,#0000) top/10% 10% no-repeat,
	  conic-gradient(#0000 30%,#ffa516);
	-webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 10%),#000 0);
	animation: l13 1s infinite cubic-bezier(1, 0.275, .66, 1);
  }
  @keyframes l13{ 
	100%{transform: rotate(1turn)}
  }

  .loader-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #0000009c;	

	p{
		font-size: 32px;
		font-weight: 400;
		color: white;
		background: #FC8019;
		padding: 1rem 1.5rem;
		margin-top: 20px;
		border-radius: 10px;
	}
  }
